[Unit]
Description=Rocket runner

[Service]
ExecStart=/usr/bin/python3 -u run.py
WorkingDirectory=/home/pi/PrecisionLanding
User=pi

[Install]
WantedBy=multi-user.target